<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="overflow-x-auto">
        <form method="post" action="#" th:action="@{/courses/save}" th:object="${course}">
            <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
                <legend class="fieldset-legend">Course details</legend>

                <input type="hidden" th:field="*{id}" />

                <label class="fieldset-label" for="courseId">Course ID</label>
                <input id="courseId" type="text" th:field="*{courseId}" th:class="${#fields.hasErrors('name') ? 'input input-error' : 'input'}"  th:readonly="${not(#strings.isEmpty(id))}" />
                <div role="alert" class="alert alert-error alert-soft" th:if="${#fields.hasErrors('courseId')}">
                    <span th:text="${#strings.listJoin(#fields.errors('courseId'), ', ')}">Error</span>
                </div>

                <label class="fieldset-label" for="name">Course Name</label>
                <input id="name" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name') ? 'input input-error' : 'input'}" />
                <div role="alert" class="alert alert-error alert-soft" th:if="${#fields.hasErrors('name')}">
                    <span th:text="${#strings.listJoin(#fields.errors('name'), ', ')}">Error</span>
                </div>

                <button class="btn btn-primary mt-4" type="submit">Save</button>
            </fieldset>
        </form>

        <div class="prose my-5">
            <h2>Deliveries</h2>
        </div>
        <table class="table mb-25 w-full">
            <thead th:if="${not #lists.isEmpty(course.deliveries)}">
            <tr>
                <th class="w-7/8">Start Date</th>
                <th class="w-1/8"></th>
            </tr>
            </thead>
            <tbody th:if="${not #lists.isEmpty(course.deliveries)}">
            <tr th:each="delivery : ${course.deliveries}"  class="hover:bg-base-300">
                <td th:text="${#temporals.format(delivery.startDate, 'MMMM dd, yyyy')}">April 1, 2025</td>
                <td>
                    <a th:href="'/courses/edit/' + ${course.courseId} + '/delivery/' + ${delivery.id} + '/edit'" class="inline-block" th:if="${not delivery.started()}">
                        <span th:replace="~{shared/icons :: pencil-solid('icon stroke-current size-6')}">
                        </span>
                    </a>
                    <a th:href="'/courses/edit/' + ${course.courseId} + '/delivery/' + ${delivery.id} + '/delete'" class="inline-block" th:if="${not delivery.started()}">
                        <span th:replace="~{shared/icons :: trash-solid('icon stroke-error fill-error size-6')}">
                        </span>
                    </a>
                    <span class="badge badge-soft badge-secondary" th:if="${delivery.started()}">Started</span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <a role="button" class="btn btn-secondary" th:href="'/courses/edit/' + ${course.courseId} + '/delivery/new'">
                        <span th:replace="~{shared/icons :: plus-circle-solid('icon size-6')}"></span>
                        Add
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>