<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
    
</head>
<body>
<nav>
    <div class="navbar bg-base-100 shadow-sm mb-2">
        <div class="navbar-start">
            <a class="btn btn-ghost text-xl" href="/">Training Admin</a>
        </div>
        <div class="navbar-center" th:with="requestUri=${#ctx.getExchange().getRequest().getRequestURI()}">
            <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box px-1">
                <li><a th:class="${#strings.contains(requestUri, 'courses') ? 'menu-active' : ''}" href="/courses/list">Courses</a></li>
                <li><a th:class="${#strings.contains(requestUri, 'students') ? 'menu-active' : ''}" href="/students/list">Students</a></li>
                <li><a>Reservations</a></li>
            </ul>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</nav>
<main layout:fragment="content" class="mx-50">
</main>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<th:block layout:fragment="script-content">

</th:block>
</body>
</html>
