<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="content">
    <span th:if="${#strings.isEmpty(term)}">Start by searching a student using the input above.</span>
    <table class="table-md table-zebra w-full" th:if="${not #lists.isEmpty(result)}">
        <thead></thead>
        <tbody>
        <tr th:each="student : ${result}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td><a role="button" class="btn-primary btn" th:href="|/registrations/add?studentId=${student.studentId}|">» Next</a></td>
        </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
</body>
</html>