<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="overflow-x-auto">
        <div role="alert" class="alert alert-error">
            <span th:replace="~{shared/icons :: exclamation-circle-solid('icon stroke-current fill-none size-6')}">
            </span>
            <span th:text="${message}">The error message.</span>
        </div>
    </div>
</div>
<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
</th:block>
</body>
</html>
